@import "Reset";
@import "Font";

.header_bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: #fceed5;
  min-height: 88vh;
  max-height: auto;
  width: 100%;
  border-radius: 0px 0px 4rem 4rem;
}

.header_backdrop {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.wrapper {
  z-index: 999;
}

.-z-1 {
  z-index: 0;
}

.z-lg {
  z-index: 99999;
}
.z-xl {
  z-index: 999999;
}

.inactive {
  right: -100rem;
  height: 100vh;
  z-index: 9999999999;
}

.active {
  left: 0rem;
  right: 0;
  height: 100vh;
  z-index: 9999999999;
}

.container_custom {
  max-width: 93%;
  height: auto;
  width: 100%;
  position: relative;
}
.container_custom_sm {
  max-width: 85%;
  height: auto;
  width: 100%;
  position: relative;
}

.btn-primary{
  width: auto;
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  border-radius: 8px;
  color: white;
  background: #003459;
  font-size: 14px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.btn-primary-rounded {
  width: auto;
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  border-radius: 30px;
  color: white;
  background: #003459;
  font-size: 14px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  &:hover {
    width: auto;
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    border-radius: 30px;
    background: transparent;
    outline: 0.6px solid #003459;
    font-size: 14px;
    color: #003459;
  }
}

.btn-primary-rounded-outline {
  width: auto;
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  border-radius: 30px;
  color: white;
  border: 0.6px solid #003459;
  font-size: 14px;
  color: #003459;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  &:hover {
    width: auto;
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    border-radius: 30px;
    color: white;
    background: #003459;
    font-size: 14px;
  }
}

.hero-cover {
  background: url(../assets/img/homepage/box-hero-text.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-cat {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
.grid-cat-3 {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;

  img {
    width: 100%;
    object-fit: cover;
    height: 200px;
  }
}

.grid-cat-2 {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.grid-cat-4 {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;

  img {
    width: 100%;
    object-fit: cover;
    height: 220px;
  }
}
.grid-cat-5 {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;
    height: 200px;
  }
}

.grid-cat-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.banner_section {
  max-width: 88%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner {
    background: url(../assets/img/homepage/Banner-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    display: grid;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    img {
      object-fit: cover;
    }
  }
}

.adopt_section {
  max-width: 88%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner {
    background: url(../assets/img/Banner2-svg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    display: grid;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    img {
      object-fit: cover;
      width: 255.5px;
    }
  }
}

.badge {
  width: fit-content;
  border-radius: 30px;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  background: #4c75e6;
  color: #fff;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_rounded {
  border-radius: 3rem 3rem 0rem 0rem;
}